#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    text-decoration: dotted;

}

#btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#inc-btn{

    height: 50px;
    width: 80px;
}

#dec-btn{
    height: 50px;
    width: 80px;
}

#counter{
    text-align: center;
    padding-top: 14px;
    
}